@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Krona+One&family=Montserrat+Alternates&family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@100..900&family=Lilita+One&family=New+Amsterdam&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@100..900&family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Inter:wght@100..900&family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

a{
    color:var(--cor-terciaria);
    font-size: 20px;
    padding: 20px;
    font-family: sans-serif;
}

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria-one:#29447f;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;
    --cor-hover-two: #263b5c;
    --cor-sub: #686D76;
    --font-primaria-one:  "Archivo Black", sans-serif;
    --font-primario: 'krona One', sans-serif;
    --font-secundario: 'montserrat, sans-serife';
    --font-lilita-one:"Lilita One", sans-serif;
    --font-arquivo-black:  "Archivo Black", sans-serif;
    --cor-anton: "Anton", sans-serif;
}


.corpo {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria); 
    width: 100%;
    height: 100vh;
    
        /* background-image: url('imagem/fundo_p.png'); */
        /* background-repeat: no-repeat;                                       Impede a repetição da imagem */
        /* background-size: cover;                                            Ajusta a imagem para cobrir toda a área */
        /* background-position: center;                                      Centraliza a imagem */
    
}


/* cabeçalho */

.cabecalho{
    width: 100%;
    display: flex;
    background-color: var(--cor-sub);
    color: var(--cor-secundaria); 
    height: 140px;
}

.cabecalho__container{
    display: block;
    font-family: var(--font-primario);
}

.cabecalho__logo{
    margin-top: 5%;
    width: 65px;
    height: 80px;
    display: flex;
    border: none;
    position: absolute;
    padding: 10px;
    top: -5px;
    left: 11px;
 
}

.cabecalho__titulo{
    margin-top: 5%;
    font-size: 20pt;
    margin-bottom: 10px;
    font-family: var(--font-primaria-one);
    font-weight: 400;
    top: 10px;
    display: flex;
    position: relative;
    left: 180px;
}
.cabecalho__subtitulo{
    font-size: 8.3pt;
    position: relative;
    left: 90px;
}

/* Paginas- home */
.cabecalho__menu{
    padding: 4% 1% 1% 12%;
    display: flex;
    gap: 30px;
    position: relative;
    left: 70px;
}

.cabecalho__menu__pagina:hover {
    border: 2px solid;
    border-color:var(--cor-terciaria-one)
}

.cabecalho__menu__pagina{
    border-radius: 3px;
    text-decoration: none;
    font-size: 8pt;
    padding: 5px;
    background-color: #8d93a0;
    color: var(--cor-terciaria-one );
    font-family: 'krona One', sans-serif;
}

/* sobre - outra pagina */
.sobre {
    margin-top: 10%;
    position: absolute;
    top: 60%;
    margin-bottom: 40px;
    font-size: 20pt;
    font-family: 'krona One', sans-serif;
    color: #22d4fd;
    padding-left: 2%;
    left: -0%;
}

.sobre p {
    padding-top: 2%;
    padding-left: 2%;
    font-size: 20pt;
}

.sobre__titulo{
    margin-top: -37%;
}

/* contato(fale conosco)
 */

.contato {
    text-align: center;
    position: absolute;
    left: -5%;
    top: 100%;
    padding: 5%;
}

.fale-h1 {
    position: absolute;
    left: 3%;
    top: 60%;
    font-family: 'krona One', sans-serif;
    color: #22d4fd;
}

.logo-what {
    position: absolute;
    left: 3%;
    top: 75%;
    border-color: #000000;
    height: 120px;
    width: 200px;
}

.contato form {
    display: inline-block;
    margin: 0 auto;
    width: 500px;
    position: relative;
    right: 30%;
}
.contato h2{
    position: relative;
    right: 30%;             /* porque não estava indo pro lado   */
}

/* porque estava essa tag aqui lock */
.contato label{
    margin-bottom: 5px;
}

.contato input,
.contato textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.contato button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.contato button:active {
    background-color: #ff0000;
}

/* Serviços */
 
main {
    padding: 9%;
    display: flex; 
    
}

.servicos {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
    left: -18.7%;
    font-family: 'montserrat';
}
.servicos__titulo{
    margin-top: -5%;
    position: relative;
    left: 7%;
}

/* UL */
.container__servico{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.servicos h2 {
    position: relative;
    left: 80px;
    padding-top: 30px;
}

.servicos ul {
    display: flex;
    list-style: none;
}

.servicos li {
    list-style: none;
}

.servicos p{ 
    display: flex;
    flex-direction: column;
    font-family: 'montserrat';
    position: relative;
    left: 80px;
    padding-top: 60px;
}

img{
    width: 180px;
    height: 88px;
    border-radius: 5px;
    border: var(--cor-hover);
    border-style: solid ;
    position: relative;
    left: 80px;
    top: 50px;
}
img:hover{
    transform: scale(1.3);
    transition: 0.6s;
}
p{
    display: flex;
    color: var(--cor-secundaria);
    font-size: 20px;
    font-family: var(--font-secundario);
    justify-content: center;
}

.container__servico{
    font-family: inter;
    font-size: 24px;
    font-weight: 400;
}

/* rodapé */
/* footer {
    background-color: var(--cor-sub);
    color: #666;
    text-align: center;
    padding: 20px 0;
} */

.rodape{
    padding: 24px;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-family: var(--font-secundario);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
    position: relative;
    top: 65%;
}

@media (min-width: 1440px) {
    

    .cabecalho{
        display: flex;
        gap: 200px;
        height: 400px;
    }


    .cabecalho__logo{
        margin-top: 5%;
        width: 140px;
        height: 160px;
        display: flex;
        border: none;
        position: absolute;
        padding: 10px;
    
    }

    .cabecalho__titulo{
        margin-top: 5%;
        font-size: 50pt;
        margin-bottom: 10px;
        font-weight: 400;
        top: 10px;
        
    }
    .cabecalho__subtitulo{
        font-size: 25pt;
    }



    .cabecalho__menu__pagina:hover {
        border: 2px solid;

    }

    .cabecalho__menu__pagina{
        font-size: 18pt;
        padding: 10px;
    }

    .servicos{
        display: flex;
        flex-direction: row;
        gap: 10px; 
        text-align: center; 
        position: relative;
        right: 20%;
    }

    .container__servico{
        display: flex;
        margin-left: -7.7%;
    }

    .servicos__titulo{
        display: flex;
        margin-left: 5%;
    }

    img{
        width: 280px;
        height: 150px;
    }

    .sobre{
        display: flex;
        margin-left: -20%;
        margin-top: 1%;
        position: relative;
        left: -20%;
        top: 250px;
    }

    .sobre__titulo{
        font-size: 34px;
        position: relative;
        left: 30%;
        top: 300px;
    }

    .rodape{
        position: relative;
        top: 10.2%;
    }
}

/* contato */
.contato {
    text-align: center;
    position: absolute;
    left: 28%;
    top: 100%;
    padding: 5%;

}
 
/* Tablet */

@media (min-width: 834px ){
        

    .cabecalho{
        display: flex;
        gap: 90px;
        height: 240px;
    }


    .cabecalho__logo{
        margin-top: 5%;
        width: 140px;
        height: 160px;
        display: flex;
        border: none;
        position: absolute;
        padding: 10px;
    
    }

    .cabecalho__titulo{
        margin-top: 5%;
        font-size: 35pt;
        margin-bottom: 10px;
        font-weight: 400;
        top: 0px;
        left: 80px;
        
    }
    .cabecalho__subtitulo{
        font-size: 14.4pt;
    }



    .cabecalho__menu__pagina:hover {
        border: 2px solid;

    }

    .cabecalho__menu__pagina{
        font-size: 13pt;
        padding: 10px;
    }

    .servicos{
        display: flex;
        flex-direction: column;
        gap: 80px; 
        text-align: center;
    }

    .container__servico{
        display: flex;
        margin-left: -7.7%;
    }

    .servicos__titulo{
        display: flex;
        margin-left: 5%;
        font-size: 25pt;
    }

    img{
        width: 330px;
        height: 200px;
    }

    .sobre{
        display: flex;
        margin-left: -20%;
        margin-top: 1%;
        position: relative;
        left: -20%;
        top: 250px;
    }

    .sobre__titulo{
        font-size: 34px;
        position: relative;
        left: 30%;
        top: 160%;
    }

    .rodape{
        position: relative;
        top: 37.2%;
    }

    /* contato */
    .contato {
        text-align: center;
        position: absolute;
        left: 28%;
        top: 100%;
        padding: 5%;

    }

    .logo-what {
        width: 270px;
        height: 200px;
    }
}


 /*  
@media (max-width: 1200px) {
    .cabecalho{
        padding: 25%;
        gap: 7px; 
        margin-left: 5%;
        
        
    }

    .cabecalho__titulo{
        font-size: 30px;
        margin-left: 5%;
        
    }
    .cabecalho__subtitulo{
        width: 50%;
        font-size: 20px;
        
    }
    .cabecalho__menu{
        justify-content: center;
        margin-left: 20px;
        margin-right: -55px;
        position: relative;
        left: -200px;
        gap: 10px;
    }

    .cabecalho__menu__pagina{
       justify-content: center;
       
    }
    
    .servicos{
        display: block;
        margin-left: 20%;
        margin-right: 20%;
    }

    .cabecalho__logo{
        margin-top: 5%;
        align-items: center;
        width: 70px;
        height: 65px;
        border: none;
        padding: 0px;
        margin-left: -23%;
    }

    .sobre{
        margin-top: 17%;
    }
}
*/

