@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Krona+One&family=Montserrat+Alternates&family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@100..900&family=Lilita+One&family=New+Amsterdam&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inter:wght@100..900&family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Inter:wght@100..900&family=Lilita+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=New+Amsterdam&family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

a{
    color:var(--cor-terciaria);
    font-size: 20px;
    padding: 20px;
    font-family: sans-serif;
}

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria-one:#29447f;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;
    --cor-hover-two: #263b5c;
    --cor-sub: #686D76;
    --font-primaria-one:  "Archivo Black", sans-serif;
    --font-primario: 'krona One', sans-serif;
    --font-secundario: 'montserrat, sans-serife';
    --font-lilita-one:"Lilita One", sans-serif;
    --font-arquivo-black:  "Archivo Black", sans-serif;
    --cor-anton: "Anton", sans-serif;
}


.corpo {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria); 
    width: 100%;
    height: 100vh;
    
        /* background-image: url('imagem/fundo_p.png'); */
        /* background-repeat: no-repeat;                                       Impede a repetição da imagem */
        /* background-size: cover;                                            Ajusta a imagem para cobrir toda a área */
        /* background-position: center;                                      Centraliza a imagem */
    
}


/* cabeçalho */

.cabecalho{
    width: 98%;
    display: flex;
    background-color: var(--cor-sub);
    color: var(--cor-secundaria);
    padding-left: 2%; 
    gap: 200px;
}

.cabecalho__container{
    display: block;
    font-family: var(--font-primario);
}

.cabecalho__logo{
    margin-top: 25%;
    width: 140px;
    height: 160px;
    display: flex;
    border: none;
    left: -34 0px;
    padding: 10px;
 
}

.cabecalho__titulo{
    margin-top: 5%;
    font-size: 70px;
    margin-bottom: 10px;
    font-family: var(--font-primaria-one);
    font-weight: 400;
    top: 10px;
    display: flex;
    justify-content: center;
}

/* Paginas- home */
.cabecalho__menu{
    padding: 4% 1% 1% 12%;
    display: flex;
    gap: 80px;
}

.cabecalho__menu__pagina:hover {
    border: 2px solid;
    border-color:var(--cor-terciaria-one)
}

.cabecalho__menu__pagina{
    border-radius: 3px;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    background-color: #8d93a0;
    color: var(--cor-terciaria-one );
    font-family: 'krona One', sans-serif;
}

/* sobre - outra pagina */
.sobre {
    position: absolute;
    top: 40%;
    margin-bottom: 40px;
    font-size: 20pt;
    font-family: 'krona One', sans-serif;
    color: #22d4fd;
    padding-left: 2%;
}

.sobre p {
    padding-top: 2%;
    padding-left: 2%;
    font-size: 20pt;
}

/* contato */

.contato {
    text-align: center;
    position: absolute;
    left: 28%;
    top: 100%;
    padding: 5%;
}

.fale-h1 {
    position: absolute;
    left: 3%;
    top: 60%;
    font-family: 'krona One', sans-serif;
    color: #22d4fd;
}

.logo-what {
    position: absolute;
    left: 3%;
    top: 75%;
    border-color: #000000;
}

.contato form {
    display: inline-block;
    margin: 0 auto;
    width: 500px;
}
/* porque estava essa tag aqui lock */
.contato label{

    margin-bottom: 5px;
}

.contato input,
.contato textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.contato button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.contato button:active {
    background-color: #ff0000;
}

/* Serviços */
 
main {
    padding: 9%;
    display: flex; 
    
}

.servicos {
    display: flex;
    flex-direction: row;
    gap: 5px;
    position: relative;
    left: -18.7%;
    font-family: 'montserrat';
}
.servicos__titulo{
    margin-top: -5%;
    position: relative;
    left: 7%;
}

/* UL */
.container__servico{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.servicos ul {
    display: flex;
    list-style: none;
}

.servicos li {
    list-style: none;
}

.servicos p{ 
    font-family: 'montserrat';
}

img{
    width: 300px;
    height: 168px;
    border-radius: 5px;
    border: var(--cor-hover);
    border-style: solid ;
}
img:hover{
    transform: scale(1.3);
    transition: 0.6s;
}
p{
    display: flex;
    color: var(--cor-secundaria);
    font-size: 20px;
    font-family: var(--font-secundario);
    justify-content: center;
}

.container__servico{
    font-family: inter;
    font-size: 24px;
    font-weight: 400;
}

/* rodapé */
/* footer {
    background-color: var(--cor-sub);
    color: #666;
    text-align: center;
    padding: 20px 0;
} */

.rodape{
    padding: 24px;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-family: var(--font-secundario);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
   
}

@media (max-width: 1000px) {
    .cabecalho{
        padding: 5%;
        gap: 10px;
    }

    .cabecalho__titulo{
        font-size: 49px;
        display: block;

    }
    .cabecalho__subtitulo{
        width: 50%;
        justify-content: center;
        
    }
    .cabecalho__menu{
        justify-content: center;
        margin-left: -20px;
        margin-right: -45px;
        position: relative;
        left: -200px;
    }

    .cabecalho__menu__pagina{
       justify-content: center;
       
    }
    
    .servicos{
        display: block;
        margin-left: 20%;
        margin-right: 20%;
    }

    .cabecalho__logo{
        margin-top: 5%;
        width: 55px;
        height: 60px;
        display: flex;
        border: none;
        left: -34px;
        padding: 0px;
    }
}


